html,body {
  margin: 0;
  padding: 0;
}

.Context {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  background: yellow;
  overflow: auto;
}

.Nav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  bottom: 0;
}
.Nav > a {
  flex: 1;
  text-align: center;
}
.Nav > a:hover {
  background: yellowgreen;
}