html,body {
  margin: 0;
  padding: 0;
}

.Context {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 38px;
  overflow: auto;
}

.Nav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 38px;
  line-height: 38px;
  bottom: 0;
}
.Nav > a {
  flex: 1;
  text-align: center;
}

.Nav svg {
  font-size: 22px;
}

